* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 4 rem;
    font-size: 1.5 rem;
    color: #303030;
    border-color: #404040;
    border-width: 0.05rem;
    border-radius: 4px;
}

main{
max-width: 1200px;
margin: 0 auto;

}

.transformed-output {
    font-size: 1rem;
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: beige;
    position: relative;
    text-align: left;
    border-radius: 4px;
}

.transformed-output label{
    font-size: 0.75rem;
    position: absolute;
    left: 16px;
    top: -6px;
    background-color: #303030;
    color: white;
    padding: 4px 4px;
}